@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1> Prueba conexión</h1>

    <p>@ViewBag.ConnectionState</p>

    @Html.ActionLink("Listado de personas", "clsListadoPersonasView")
</div>
