body{
    background-color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
    

}

.despedida{
    text-align: center;
    color: violet;
}

button.btn{
    background-color: #f5bff1;
    border: #f5bff1;
    color: rgb(0, 0, 0);   
    margin: 2px;
}

.botones{
    display: flex;
    justify-content: end; 
}

h2.titulo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    text-align: center;
    color: violet;
}

thead{
    text-align: center;
}